# DB 연결 (SQL Server)
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=your_server_name
DB_DATABASE=your_database_name
DB_USER=your_username
DB_PASSWORD=your_password

# Google API 인증
GOOGLE_CREDENTIALS_FILE=credential.json

# Google Sheets 템플릿
TEMPLATE_SPREADSHEET_ID=192bh56QrTjBbv7Gwk9dkdRZRhBqr4hW70tZCqQOFtJY

# Google Drive
DRIVE_ROOT_FOLDER_ID=15_PI1CkFgwz6l6vbr_qauGcgBRy_scLb

# Gmail
GMAIL_FROM=info@forsit.co.kr
ESCALATION_RECIPIENTS=dayeon@forsit.co.kr,allan@forsit.co.kr,sungho@forsit.co.kr
